/* HEADER */
* {
    font-family : 'Raleway', sans-serif;
    color : black;
}

/* Logo */

header {
    height : 80px;
    margin : 50px;
}

#logo {
    
    
    float : left;
}

#section1_recherche {
    margin: 50px;
}

#search {
    margin-top: 10px;
}

#recherche {
    margin : 20px 0px 20px 0px ;
}


#barrederecherche {
    border : 1px solid #F2F2F2;
    width : 20%;
    padding: 8px;
}

#rechercher {
    background-color : #0065FC;
    border-radius : 0px 10px 10px 0px;
    color : white;
    border : 1px solid #0065FC;
    font-weight : bold; 
    padding : 8px;

}

label {
    font-family: 'FontAwesome', serif;
    background-color: #F2F2F2;
    border-radius : 10px 0px 0px 10px;
    border: 1px solid #F2F2F2;
    padding : 8px;
}



ul {
    list-style-type: none;
    margin: 10px 150px 0px 0px;
    padding: 10px;
    float: right;
}

li {
    margin-left: 5px;
    float: right;
}

ul li a {
    display: block;
    width: 100px;
    border : 1px solid white;
    background-color : white ;
    padding: 25px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    color : black;
    float: right;
}

ul li a:hover {
    color : #0065FC;
    border-top : 1px solid #0065FC;
}


/* Texte et polices */

h1 {
    font-size : large;
    padding-bottom: 7px;
    margin: 0px;
}

h2 {
    font-size : medium;
    padding: 0px;
    margin: 0px;
}

p {
    font-size : small;
    padding: 0px;
    margin: 0px;
}

nav {
    font-size: small;
}

/*Section 1 Rechercher */