/*Page*/

body {
    font-family: Raleway, sans-serif;
    color : black; 
}

#bloc_page {
    margin : auto;
    padding : 30px;
    height : 900px;
}

h1, h2 {
    font-size : 1.4em;
    font-weight: bolder;
    padding : 0px 0px 7px 0px;
    margin: 0px;
}

h3 {
    font-size : 1.1em;
    padding: 5px;
    margin: 0px;
}

h4 {
    font-size : 1em;
    font-weight : bolder;
    padding: 5px;
    margin: 0px;
}

p {
    font-size : 0.9em;
    padding: 1px 0px 1px 0px;
    margin: 0px;
}

/* ENTETE */

header {
    padding : 20px;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

/* MENU */
nav ul {
    list-style-type: none;
    display : flex;
    justify-content : space-between;
}

li {
    margin-left: 5px;
}

ul li a {
    display: block;
    width: auto;
    border : 1px solid white;
    background-color : white ;
    padding: 25px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    color : black;
}

ul li a:hover {
    color : #0065FC;
    border-top : 1px solid #0065FC;
}

.inscription {
    color : #0065FC;
    text-decoration : none;
    border : none !important;
    font-weight: bold;
}

/* SECTION 1 */

#section1_recherche {
    padding : 20px;
}

#bienvenue {
    margin-top: 10px;
}

#conteneur_barrederecherche {
    margin : 20px 0px 20px 0px ;
    display: flex;
    justify-content : flex-start;
}

#barrederecherche {
    border : 1px solid #F2F2F2;
    width : 200px;
    padding: 10px;
    color : black !important;
    font-weight: bold !important;
}

#rechercher {
    background-color : #0065FC;
    border-radius : 0px 10px 10px 0px;
    color : white;
    border : 1px solid #0065FC;
    padding : 10px;
}

label {
    font-family: 'FontAwesome', serif;
    background-color: #F2F2F2;
    border-radius : 10px 0px 0px 10px;
    border: 1px solid #F2F2F2;
    padding : 10px 12px 10px 12px;
}

input {
    font-size : 1em;
}


/* Filtres */

#conteneur_filtres {
    display : flex;
    justify-content : start;
    align-items : center;
    flex-direction : row wrap;
}

.fas {
    color : #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    width : 20px;
    text-align : center;
    padding : 15px;
    border : 1px solid #DEEBFF;
    font-size : 1em;
    margin-right : 10px;
}

.filtre {
    text-decoration : none;
    padding : 0px 15px 0px 0px;
    font-size : 1em;
    font-weight: bolder;
    border-radius: 30px;
    border : 2px solid #F2F2F2;
}

.filtres a:hover {
    background-color: #0065FC !important;
}

#conteneur_filtres h3 {
    margin-right : 30px;
}

#conteneur_filtres a {
    margin-right : 30px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

#info{
    padding : 20px 0px 20px 0px;
}
.icone {
    display : inline-block;
    width : 15px;
    height : 15px;
    padding : 5px;
    margin-right : 10px;
    text-align : center;
    font-family : 'FontAwesome';
    color: #0065FC;
    border : 1px solid #f2f2f2;
    border-radius : 15px;

}

/* SECTION 2 */

#section2_resultats {
    display : flex;
    justify-content : space-around;
}

#conteneur_resultats, aside {
    padding : 40px;
    margin : 20px;
    height : auto;
    background-color: #F2F2F2;
    border-radius : 20px;
}

#conteneur_resultats {
    width : 65%;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
}

aside {
    width : 25%;
}

/* Hébergements */

.conteneur_cartes {
    padding-top : 20px;
    padding-bottom : 20px;
    display : flex;
    flex-flow : row wrap;
    justify-content : space-between;
}

.carte_hotel {
    text-decoration: none;
    padding : 5px;
    margin-bottom : 20px;
    width : 250px;
    height : 200px;
    background-color: white;
    border-radius : 20px;
    display : block;
    box-shadow: 5px 5px 20px lightgrey;
}

.photo_hotel {
    max-width : 250px;
    max-height : 120px;
    width : 100%;
    height : auto;
    border-radius : 15px 15px 0px 0px;
    margin-top : 0px;
    vertical-align: top;
}

.description_hotel p, h3 {
    text-align: left;
    border-radius : 0px 0px 5px 5px; 
    vertical-align : bottom;
    padding : 1px;
    margin : 6px 0px 0px 5px;
}

.nom_hotel, .prix {
    font-weight : bold;
}

.fa-star {
    font-family: 'FontAwesome';
    color: #0065FC;
    background-color: white;
    padding : 0px;
    margin : 0px;
    border : none;
}
.bluestar {
    font-family: 'FontAwesome';
    color: #0065FC;
}

.greystar {
    font-family: 'FontAwesome';
    color: #f2f2f2;
}

.more {
    color : black;
    font-weight : bold;
    text-decoration : none;
    font-size : large;
    align-self: flex-start;
    align-items: flex-end;
}

/* Les plus populaires */

#conteneur_carteshotelpop {
    padding-top : 20px;
    padding-bottom : 20px;
    display : flex;
    flex-flow : column;
    justify-content : space-between;
}

.carte_hotelpop {
    text-decoration: none;
    padding : 5px;
    margin : 10px 0px 10px 0px;
    width : auto;
    height : 150px;
    background-color: white;
    border-radius : 20px;
    box-shadow: 5px 5px 20px lightgrey;
    display : flex;
    flex-direction: row;
}

.photo_hotelpop {
    max-width : 130px;
    max-height : 150px;
    width : auto;
    height : 100%;
    border-radius : 15px 0px 0px 15px;
    margin-top : 0px;
}

.description_hotelpop {
    text-align: left;
    border-radius : 0px 5px 5px 0px; 
    padding : 2px;
    margin : 6px 0px 0px 5px;
}

.description_hotelpop p, h3 {
    text-align: left;
    border-radius : 0px 0px 5px 5px; 
    vertical-align : bottom;
    padding : 1px;
    margin : 6px 0px 0px 5px;
}

/* SECTION 3 */

#section3_activites {
    padding : 40px;
    margin : 20px;
    height : auto;
    border-radius : 20px;
}

#conteneur_activites{
    display : flex;
    justify-content: space-around;
}

a {
    display: inline-block;
    color : black;
}

.activite {
    width : 280px;
    height : 20px;
    font-weight : bold;
    text-decoration : none;
    background-color: white;
    padding : 10px;
    border-radius : 0px 0px 20px 20px;
    display : block;
    position : absolute;
    bottom : 0;
}

.activite1 {
    width : 300px;
    height : 450px;
    background : url(images/activites/4_small/Vieux\ Port.jpg) center;
    border-radius: 20px;
    margin : 20px 0px 20px 0px;
    box-shadow: 5px 5px 20px lightgrey;
    position : relative;
}

.activite2 {
    width : 300px;
    height : 250px;
    background: url(images/activites/4_small/Fort\ de\ Pomèges.jpg) center;
    border-radius: 20px;
    margin : 20px 0px 20px 0px;
    box-shadow: 5px 5px 20px lightgrey;
    position: relative;
    
}

.activite3 {
    width : 300px;
    height : 150px; 
    background: url(images/activites/4_small/Iles\ du\ Frioul.jpg) center;
    border-radius: 20px;
    margin : 20px 0px 20px 0px;
    box-shadow: 5px 5px 20px lightgrey;
    position : relative;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    width : 95%;
    margin : auto;
    height : 180px;
    padding : 20px;
    border : 30px solid white;
}

#foot {
    width : 70%;
    display: flex;
    justify-content: space-around;
}

.apropos p, .noshebergements p, .assistance p {
    padding : 15px 0px 0px 5px;
}
.apropos h3, .noshebergements h3, .assistance h3 {
    padding : 15px 0px 15px 0px;
}


