/* HEADER */

/* Logo */

header {
    height : 100px;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    float : left;
}

ul {
    list-style-type: none;
    margin: 10px 150px 0px 0px;
    padding: 10px;
    float: right;
}

li {
    margin-left: 5px;
    float: right;
}

ul li a {
    display: block;
    width: 100px;
    border : 1px solid white;
    background-color : white ;
    padding: 25px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    color : black;
    float: right;
}

ul li a:hover {
    color : #0065FC;
    border-top : 1px solid #0065FC;
}


/* Texte et polices */

h1 {
    font-size : large;
    color : black;

}

p {
    font-size : medium;
    color: black;
}

/*Section 1 Rechercher */